/* hide the radio buttons */

.rate > input{
    display: none;
}
.rate{
    display: inline-block;
    border: 0;
}

.rate > label{
    float:right;
}

/* showing the stars */

.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: '\f005';
    margin: 0;
    padding: 0.3rem 0.1rem;
    cursor: pointer;
}

/* give the half class  */

.rate .half:before{
    content:"\f089";
    position: absolute;
    padding-right: 0.;
}

/* click and hiver funtion 
 */

input:checked~label ,label:hover ~label{
    color: #ffb508;
}

/* hover ::highlight 
  */

input:checked + label:hover ,input:checked ~ label:hover ,input:checked ~ label:hover ~ label, label:hover ~ input:checked ~ label{
    color: #cc9000;
}

.rating-star i{
    color: #ffb508 !important;
}